node_modules/
dist/
.gradle/
*.apk
github.txt
diseño.html
.vscode/
.idea/
.DS_Store

# Capacitor native folders should be committed, but ignore their build artifacts
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/app/release/
android/app/debug/
